.cartItemList {
    color: white;
    display: flex;
    flex-direction: row;
    background-color: rgba(5, 68, 44, 0.766);
    margin-bottom: 1.2rem;

    & div {
        display: flex;
        flex-direction: column;
        padding-left: 0.5rem;
    }
}
